.Pomodoro{
    width: 300px;
    text-align: center;
    border: 15px solid rgb(255, 0, 0);
    padding: 50px;
    margin: 0 auto;
    margin-top:16px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, 
    rgb(31, 193, 27) 0px 0px 0px 6px, 
    rgb(255, 217, 19) 0px 0px 0px 9px, 
    rgb(255, 156, 85) 0px 0px 0px 12px, 
    rgb(255, 85, 85) 0px 0px 0px 15px;
}
.Pomodoro .timer {
    font-size: 100px;
    font-weight: bold;
}

.Pomodoro .alert {
    font-size: 20px;
    padding:50px;
    margin-bottom: 20px;
}

.Pomodoro .alert.work{
    background: green;
} 

.Pomodoro .alert.shortBreak{
    background: orange;
} 
.Pomodoro .alert.longBreak{
    background: blue;
} 
.Pomodoro .alert.beep{
    background: red;
} 

.Pomodoro button {
    background: lightblue;
    border : 1px solid lightblue;
    border-radius: 50px;
    box-shadow: 0 1px 0 gray;
    color :white;
    cursor: pointer;
    display :inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    margin: 50px 10px 0px 10px;
    padding: 10px 20px 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.Pomodoro button.start{
    background-color: rgb(114, 248, 114);
    border: 1px solid gray;
    border-radius: 50px;
}

.Pomodoro button.short{
    background-color: rgb(202, 94, 12);
    border: 1px solid gray;
    border-radius: 50px;
}

.Pomodoro .Show{display: inline}

.Pomodoro .Hidden{display:none;}